{% extends "base.html" %}
{% load widget_tweaks %}

{% block navbar %}
	<header id="header" class="alt">
				<h1><strong><a href="index.html">Meta Execution</a></strong> Workflow System (MEWS)</h1>
				<nav id="nav">
					<ul>
						{% if not user.is_authenticated %}
		                    <li class="active"><a href="{% url 'users:register' %}">Sign Up</a></li>
		                    <li class="active"><a href="{% url 'login' %}">Sign In</a></li>
			            {% endif %}
			            {% if user.is_authenticated %}
    						<li><a href="generic.html" %}">Specify</a></li>
							<li><a href="generic.html">Execute</a></li>
							{% if user.is_superuser %}
								<li><a href="{% url 'executor:role_assign_add' %}">Assign Roles</a></li>
							{% endif%}
							<li><a href="elements.html">Worklist</a></li>
		                    <li class="active"><a href="{% url 'logout' %}">Sign Out</a></li>
			            {% endif %}
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
{% endblock navbar %}
{%block section_one%}
		<div class="container 100%">
		<div class="row 200%">
			<div class="6u 12u$(medium)">
				{%if user.is_authenticated %}
				<header class="major">
					<h2>Currently Running/Ready Workflows</h2>
					<p>For user - {{user.first_name}} {{user.last_name}}</p>
				</header>
			</div>
			<div class="6u$ 12u$(medium)">
				<table border="1">
		      <thead>
		        <tr>
		          <th>Name</th>
		          <th> Description </th> 
		          <th>State</th>
		          <th>Current Task</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>
		        {% for workflow_exec in running %}
		          <tr>
		            <td> {{ workflow_exec.workflow.name }}</td>
		            <td> {{ workflow_exec.description }}</td>
		            <td> {{ workflow_exec.state }} </td>
		            <td> {{ workflow_exec.current_task.name }} Something </td>
		            <td> Proceed </td>
		          </tr>
		        {% endfor %}
		      </tbody>
		      <tbody>
			      {% for workflow_exec in ready %}
			          <tr>
			            <td> {{ workflow_exec.name }}</td>
			            <td> {{ workflow_exec.description }}</td>
			            <td> {{ workflow_exec.state }} </td>
			            <td> {{ workflow_exec.current_task }} </td>
			            <td><button type="button" class="btn btn-default"><a href="{% url 'executor:next_task' workflow_exec.id %}" style="color: white">Initiate</a></button> </td>
			          </tr>
			        {% endfor %}
		       </tbody>
		    </table>
		    {% endif %}
		    {% if not user.is_authenticated %}
		    	<header class="major">
					<h2>Login required</h2>
					<p> Please login to see the tasks assigned to you and workflows you can start </p>
				</header>
		    {% endif %}
			</div>
		</div>
	</div>
{% endblock section_one %}