<!-- Two -->
{% extends "base.html" %}
{% block section_two %}
	<section id="two" class="wrapper style2 special">
		<div class="container">
			{% if not user.is_superuser %}
				<header class="major">
					<h2>You are not authorized to see this page</h2>
				</header>	
			{% else %}
				<header class="major">
					<h2>Assign role to a user</h2>
				</header>
				<form method="post" enctype="multipart/form-data" id="role_assign_form" workflow-roles-url="{% url 'executor:ajax_load_roles' %}" novalidate>
			    {% csrf_token %}
	              {{ form.as_table }}
	              <button type="submit">Submit</button>
			  </form>
			  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			  <script>
			    $("#id_workflow").change(function () {
			      var url = $("#role_assign_form").attr("workflow-roles-url"); 
			      var workflowId = $(this).val(); 
			      console.log("Hello there mate");
			      $.ajax({
			        url: url,                    
			        data: {
			          'workflow': workflowId
			        },
			        async: false,
			        success: function (data) {
			          $("#id_role").html(data);
			        }
			      });
			    });
			  </script>
			{% endif %}
		</div>
	</section>
{% endblock section_two %}

