{% extends "base.html" %}
{% load widget_tweaks %}
{% block section_two %}
	<section id="two" class="wrapper style2 special">
		<div class="container">
				<header class="major">
					<h2>Your pending tasks</h2>
				</header>	
				<div class="6u$ 12u$(medium)">
				<table border="1">
		      <thead>
		        <tr>
		          <th>Name</th>
		          <th> Description </th> 
		          <th>State</th>
		          <th>Action</th>
		        </tr>
		      </thead>
		      <tbody>
		        {% for tsk in tasks %}
		          <tr>
		            <td> {{ tsk.user_task.task.name }}</td>
		            <td> {{ tsk.user_task.task.description }}</td>
		            <td> {{ states|get_item:tsk.user_task.state }} </td>
		             <td><button type="button" class="btn btn-default"><a href="{% url 'executor:next_task' tsk.meta_task.id %}" style="color: white">Initiate</a></button>
		          </tr>
		        {% endfor %}
		      </tbody>
		  </table>
		</div>
	</section>
{% endblock section_two %}